USER_DB=postgres
PASSWORD_DB=postgres
DB_URL=jdbc:postgresql://localhost:5432/database_local

PORT=8080
CONTEXT_PATH=/base-url

KEY_JWT_SECRET=change-me
KEY_JWT_EXPIRATION=3600

CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000

APP_HOST_PORT=8080
SPRING_FLYWAY_ENABLED=true
